*{
    margin: 0px;
    padding: 0px;
}

background-color: rgb(255, 240, 187);

h1{color: rgb(0, 0, 0);
    justify-content:center;
    align-items: center;
}

table{
    background-color: rgb(225, 184, 255);
    text-align:center;
    text-justify:center;
}
p1{
    color: red;
}